n8n/fablab_workflow_v1.json
{
    "name": "Vortex Brain (FabLab Edition)",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "antigravity/decision",
                "responseMode": "responseNode",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                460,
                300
            ]
        },
        {
            "parameters": {
                "resource": "chat",
                "model": "gpt-4-turbo",
                "messages": {
                    "values": [
                        {
                            "role": "user",
                            "content": "={{ \"You are a smart file organizer for a personal desktop.\\n\\nYour task: classify the given file or shortcut into the best category.\\n\\n## CATEGORY RULES (be specific — do NOT default to Other if a better match exists):\\n\\nGaming → Any game launcher, game shortcut, or game-related tool.\\n  Examples: Roblox, Roblox Studio, Steam, Epic Games, Rockstar Games Launcher, Battle.net, Xbox, Minecraft, GTA, Valorant, Fortnite, EA App, Ubisoft Connect, GOG, Riot Client, any .lnk pointing to a game EXE.\\n\\nProductivity → Office tools, note-taking, design, project management, writing.\\n  Examples: Word, Excel, PowerPoint, Notion, Obsidian, Figma, Adobe Acrobat, LibreOffice, Trello, Slack, Teams, Outlook, OneNote, Acrylic Suite.\\n\\nApps → Browsers, communication, media, utilities, system tools.\\n  Examples: Chrome, Firefox, Edge, Discord, Spotify, Telegram, WhatsApp, VLC, 7-Zip, Docker, Claude, Antigravity, WinRAR, Notepad++.\\n\\nCode → IDEs, dev tools, terminals, network tools.\\n  Examples: VS Code, PyCharm, Git, nmap, Zenmap, Wireshark, Postman, XAMPP, Node, Python, Arduino IDE.\\n\\nDocuments → Text files, PDFs, spreadsheets, presentations, reports.\\n\\nImages → Images, 3D models, design files. Examples: .png, .jpg, .stl, .obj, .dxf.\\n\\nOther → ONLY if truly unclassifiable after checking all above categories.\\n\\n## NAMING RULES:\\n- Keep the original extension (.lnk, .exe, .pdf etc.)\\n- Clean up names: replace spaces with underscores, remove special chars.\\n\\n## Input:\\n\" + JSON.stringify($json.body) + \"\\n\\n## OUTPUT — JSON ONLY, no explanation:\\n{\\n  \\\"category\\\": \\\"Gaming\\\",\\n  \\\"confidence\\\": 0.95,\\n  \\\"suggested_name\\\": \\\"cleaned_filename.lnk\\\",\\n  \\\"folder\\\": \\\"Gaming/Shortcuts\\\",\\n  \\\"tags\\\": [\\\"game\\\", \\\"launcher\\\"]\\n}\" }}"
                        }
                    ]
                },
                "jsonOutput": false
            },
            "name": "FabLab AI",
            "type": "n8n-nodes-base.openAi",
            "typeVersion": 1,
            "position": [
                680,
                300
            ],
            "credentials": {
                "openAiApi": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "OpenAI account"
                }
            }
        },
        {
            "parameters": {
                "respondWith": "json",
                "responseBody": "={{ $json.message.content }}",
                "options": {}
            },
            "name": "Respond to Vortex",
            "type": "n8n-nodes-base.respondToWebhook",
            "typeVersion": 1,
            "position": [
                900,
                300
            ]
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "FabLab AI",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "FabLab AI": {
            "main": [
                [
                    {
                        "node": "Respond to Vortex",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}